<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4"
        src="" alt="Foto Profil Saya" width="72"
        height="57">
    <h1 class="display-5 fw-bold">Daemon19</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Web Developer | Student | Wall Climber</p>
    </div>
</div>